[paths]
source =
   pupy

[run]
branch = true
source =
    pupy
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
exclude_lines =
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    except NameError:

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
