# P(retty) U(seful) PY(thon) ~ PUPY

test_pupy/.pytest_cache/** # cache dir
dist/**
build/**
.pytest_cache/**
.tox/**
.DS_store
.idea/**
test_pupy/__pycache__/
*.pyc
out/**
.mypy_cache/**
/Pipfile.lock
/pupy.egg-info/
