graft docs
graft pupy
graft tests

include .bumpversion.cfg
include .coveragerc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include requirements.txt
include pyproject.toml

include tox.ini
include .travis.yml
include .gitlab-ci.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib
